<div class="footcont">
  <div class="container toprel">
    <div class="autocont vcenter pull-left">
      <div class="tabcell">
        <img class="footlogo nopointer" width="100%" [src]="imgUrl">
      </div>
    </div>

    <div class="autocont vcenter pull-left">
      <div class="tabcell">
        <!--
        {{vm.footerMenu.copyright}} {{vm.date | date:'yyyy'}}
        -->
      </div>
    </div>
  </div>
</div>
