<app-header></app-header>
<div class="allconts">
    <div class="container">
        <div class="basicrow f-black f-reg m-bottom">
            <div class="b-line">
                <div class="f-title roboto-l basicrow m-top-ii">
                    {{title}}
                </div>
            </div>

            <div class="basicrow">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngFor="let option of menuElements">
                            <a  class="sub-sec vcenter" (click)="goTo(option.sref)">
                                <img [src]="option.image" width="100%" >

                                <span class="tabcell">
                                    <span class="roboto-b f-smed">
                                        {{option.title}}
                                    </span><br/>
                                    {{option.description}}
                                </span>
                            </a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="/store-orders-vale-educativo" class="sub-sec vcenter">
                            <img [src]="icoImg" width="100%" >

                            <span class="tabcell">
                                <span class="roboto-b f-smed">Ordenes Vales Educativos</span><br/>
                               Manejo de ordenes de vales educativos
                            </span>
                        </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>