<app-header></app-header>
<div class="allconts">
    <div class="container">
        <div class="basicrow m-bottom">
            <div class="b-line">
                <div class="f-title roboto-l basicrow m-top-ii">
                    Telemercadeo
                </div>

                <div class="basicrow m-top-ii">
                    Una vez colocado el BAN y el monto del Impuesto a pagar y darle clic al boton Procesar, se enviar&aacute; un mensaje SMS y un email al cliente con un enlace URL que llevar&aacute; al cliente a un landing page para iniciar el proceso de pago de impuesto.
                </div>
            </div>

            <div class="basicrow m-top f-reg roboto-r">
              <form [formGroup]="searchForm">
                <div class="container less">
                    <div class="basicrow">
                        <div class="row">
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <div class="basicrow">* BAN (N&uacute;mero de cuenta):</div>
                              <input 
                                type="text"
                                class="inpdef"
                                placeholder="BAN" 
                                value=""
                                name="ban"
                                formControlName="ban"
                                pattern="/^\d{9}$/"
                                required>
                              <div class="basicrow f-red f-mini m-top-ii"  *ngIf="this.searchForm.get('ban').errors?.required">
                                  <div class="error-msg">
                                      Este campo es requerido
                                  </div>
                              </div>

                              <div class="basicrow f-red f-mini m-top-ii" *ngIf="this.searchForm.get('ban').errors?.minLength || this.searchForm.get('ban').errors?.maxLength">
                                  <div class="error-msg">
                                      Debe introducir solo n&uacute;meros de 9 d&iacute;gitos
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <div class="basicrow">Nro. de Suscriptor:</div>
                              <input 
                                type="text"
                                class="inpdef"
                                placeholder="Ej: 7871234567"
                                value="" 
                                name="subscriber"
                                formControlName="subscriber"
                                pattern="/^[787|939]+(\d{7})$/"
                                maxlength="10" 
                                numbers-only
                                (change) = "changeSubscriber()" 
                                >

                              <div class="basicrow f-red f-mini m-top-ii" *ngIf="subscriberError">
                                  <div class="error-msg">
                                      Suscriptor inv&aacute;lido
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <div class="basicrow">* Impuesto generado (&#36;):</div>
                              <input 
                                type="text"
                                class="inpdef"
                                placeholder="Impuesto generado"
                                value=""
                                name="tax" 
                                formControlName="tax"
                                pattern="/^\d+(\.\d+)?$/"
                                step="0.01" 
                                min="5" 
                                max="500" 
                                required
                                (change) ="changeTax()"
                                >

                              <div class="basicrow f-red f-mini m-top-ii" *ngIf="this.searchForm.get('tax').errors?.required">
                                  <div class="error-msg">
                                      Este campo es requerido
                                  </div>
                              </div>

                              <div class="basicrow f-red f-mini m-top-ii" *ngIf="taxError">
                                  <div class="error-msg">
                                      Debe introducir un n&uacute;mero de impuesto v&aacute;lido
                                  </div>
                              </div>

                              <div class="basicrow f-red f-mini m-top-ii" *ngIf="wrongTaxamount">
                                  <div class="error-msg">
                                      El monto debe ser mayor o igual a $5 y menor o igual a $500
                                  </div>
                              </div>

                          </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-iii text-center">
                        <a 
                            (click)="submitForm()"
                            class="redbtn paybill"
                        >
                            Procesar 
                            <i class="fa fa-angle-right righticon" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>