

<div class="topbar">
  <div class="container toprel">
    <div class="typepage roboto-b">
      Admin
    </div>

    <img class="flagdef" width="100%" [src]="flagUrl">
  </div>
</div>

<div class="menucont">
  <div class="container toprel">
    <div class="miclaro-logo vcenter">
      <div class="tabcell">
        <a href="#">
          <img width="100%" [src]="logoUrl">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="allconts">
  <div class="basicrow">
    <div class="f-bigger f-black roboto-l basicrow m-top-ii">
      <div class="container">
        Mi Claro Admin
      </div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="basicrow">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <img class="nopointer" width="100%" [src]="bannerUrl">
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div class="sidelog">
                <div class="basicrow f-xmed f-black roboto-m">
                  <img class="nopointer logicon" width="100%" [src]="iconUrl"> Mi Claro Admin
                </div>

                <div class="basicrow f-reg f-black roboto-m m-top-ii">
                  <div class="basicrow">
                    <div class="basicrow">Usuario</div>

                    <input type="text" 
                        tabindex="1" 
                        name="user" 
                        class="inpdef"
                        value="" 
                        formControlName="user"
                        required>
                    <span style="color: #ef3829;" *ngIf="this.loginForm.get('user').errors?.required">
                        <span>
                            Usuario es requerido.
                        </span>
                    </span>
                  </div>

                  <div class="basicrow m-top-i">
                    <div class="basicrow">Contrase&ntilde;a</div>

                    <input 
                      type="password" 
                      tabindex="2" 
                      name="password" 
                      value="" 
                      class="inpdef" 
                      formControlName="password"
                      required>
                    <span style="color: #ef3829;" *ngIf="this.loginForm.get('password').errors?.required">
                        <span>
                            La Contrase&ntilde;a es requerida.
                        </span>
                    </span>
                  </div>

                  <div class="basicrow m-top-i text-left" (click)="activate()">
                    <input 
                      type="checkbox"
                      name="remember" 
                      formControlName="remember"
                      id="remember" 
                      tabindex="3"
                      >
                    <label style="font-weight: normal" for="remember">&nbsp;Recordar Usuario</label>
                  </div>

                  <div class="basicrow m-top-i">
                    <a class="redbtn" tabindex="5" (click)="submitForm()">Ingresar <i class="fa fa-angle-right righticon" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="graycont">
      <div class="container">
        <div class="basicrow f-black f-xmed roboto-l">
          <span class="f-big roboto-r">&#191;Que es Mi Claro Admin&#63;</span><br/>
          Es el canal para agentes CSR para atenci&oacute;n en l&iacute;nea donde podr&aacute;n prestar asistencia a clientes m&oacute;viles y fijos de Claro sobre sus servicios y operaciones a traves de Mi Claro en sus diferentes canales de autogesti&oacute;n como por ejemplo:
        </div>

        <div class="basicrow f-black f-med roboto-l">
          <div class="logdv-i">
            <ul>
              <li>Pre-registro de usuarios</li>

              <li>Desbloqueo de cuentas</li>

              <li>Reenv&iacute;o de credenciales</li>
            </ul>
          </div>

          <div class="logdv-ii">
            <ul>
              <li>Actualizaci&oacute;n de datos de seguridad</li>

              <li>Actualizaci&oacute;n de datos personales</li>

              <li>Agregar o borrar cuentas</li>
            </ul>
          </div>

          <div class="logdv-iii">
            <ul>
              <li>Actualizaci&oacute;n de preferencias de notificaciones y alertas</li>

              <li>Gesti&oacute;n de reportes Mi Claro Web y Apps</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

