<!-- [INIT MENU] -->
<div class="topbar">
  <div class="container toprel">
    <div class="typepage f-black roboto-b">
      Admin&nbsp;&nbsp;&nbsp;&#124;&nbsp;&nbsp;&nbsp;
      <!--- Original
      <a href="#" class="roboto-r">
        <i class="fa fa-user" aria-hidden="true"></i>{
          {vm.menuItemsOut.username}}
        </a> 
        <a href="#" ng-click="vm.goLogout()" 
            class="roboto-r">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          Cerrar Sesi&oacute;n
      </a>
      -->

     
      <a href="#" class="roboto-r">
        <i class="fa fa-user" aria-hidden="true"></i>
          Admin
        </a> 
        <a href="#" 
            class="roboto-r">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          Cerrar Sesi&oacute;n
      </a>
    
    </div>

    <img class="flagdef" width="100%" [src]="imgUrl">
  </div>
</div>

<div class="menucont">
  <div class="container toprel">
    <div class="miclaro-logo vcenter">
      <div class="tabcell">
        <!--
        <a href="{{vm.menuItems[0].sref}}" ng-click="vm.selectItem(vm.menuItems[0].id)" ng-show="!vm.rolAdmin">
          <img width="100%" src="images/miclaro-logo.png">
        </a>
        <a href="{{$sessionStorage.initMenu}}" ng-click="$sessionStorage.initMenu" ng-show="vm.rolAdmin">
          <img width="100%" src="images/miclaro-logo.png">
        </a>
        -->
      </div>
    </div>
<!-- Original
    <div 
    ng-repeat="menuItem in vm.menuItems" 
    class="autocont pull-left"
    >

  -->
  <div 
    class="autocont pull-left"
    >
      <!--
      <a tabindex="{{$index + 100}}" ui-sref = "{{menuItem.sref}}" ng-click="vm.selectItem(menuItem.id)" class="{{menuItem.class}}">
          	<span class="tabcell">
          		{{menuItem.name}}
          	</span>
      </a>

      -->
    </div>
  </div>
</div>
<!-- [END MENU] -->

